# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.pyc

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Vector databases later
chroma_db/
vector_store/

# Temporary files
*.log